<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>project-home L&R</title>
</head>
<body>
    <h1>Register:</h1>
    <form action="/register" method="post">
        <label for="first_name">First Name</label>
        <input type="text" name="fname" id="#">
        <label for="last_name">Last Name</label>
        <input type="text" name="lname" id="#">
        <label for="email">Email</label>
        <input type="text" name="email" id="#">
        <label for="password">Password</label>
        <input type="password" name="password" id="#">
        <label for="conf_password">Confirm Password</label>
        <input type="password" name="conf_password" id="#">
        <input type="submit" name="submit" id="" value="Register">
    </form>
    <form action="/login" method="post">
        <label for="email">User name:</label>
        <input type="text" name="email" id="#" placeholder="johndoe@email.com">
        <label for="password">Password</label>
        <input type="password" name="password" id="#">
        <input type="submit" name="submit" id="" value="Login">
    </form>
    <a href="/forgot_pass">Forgot Password</a>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>