<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>landing page</title>
</head>
<body>
    <div class="jumbotron">
    <h1>Welcome {{ session['greetings'] }}! </h1>
    <form action="/make_post" method="post" id="posts">
        <label for="post"></label>
        <textarea name="post" id="" cols="30" rows="10" for="posts" placeholder="what's on your mind"></textarea>
        <input type="submit" name="submit" id="">
    </form>
    {% for post in posts %}
        <h5>{{ post.first_name }}:</h5><br>
        <div>{{ post.post }}</div><br>
        <div>{{ post.created_at }}</div><br>
        {% if post.user_id == session['user_id'] %}
            <form action="/delete" method="post">
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <input type="submit" name="delete" value="Delete">
            </form>
        {% endif %}
        {% if post.user_id == session['user_id'] %}
            <a href="/update/{{ post.id }}">Update</a>
        {% endif %}
        {% for comment in all_comments %}
            {% if comment.post_id == post.id %}

                <div class="border bg-light">
                    {{comment.comment}}
                    {{comment.first_name}} {{comment.last_name}}
                </div>

            {% endif %}
        {% endfor %}
        <form action="/comment" method="post" id="comments">
            <textarea name="comment_text" cols="30" rows="10" for="comments"></textarea>
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="submit" name="submit">
        </form>

    {% endfor %}
    <a href="/logout">Logout</a>
</div>
</body>
</html>